# SFDK debug builds
documentation.list
debugfiles.list
debuglinks.list
debugsourcefiles.list
debugsources.list
elfbins.list

RPMS/
installroot/
rpmbuilddir/
moc_*.cpp
moc_*.go
moc_*.h
moc.*
qml/i18n/whisperfish_*.qm
harbour-whisperfish.pro.user

# Vendored Rust sources
vendor/
rpm/vendor.tar.*
rpm/vendor.toml
.cargo/config.toml

whisperfish-store/src/schema.rs.rej
whisperfish.sql
whisperfish.sqlite
harbour-whisperfish.o
translations/*.qm
libsignal-build/

ringrtc/

# cargo
/target
**/*.rs.bk
.env
releases
whisperfish.wiki
.rpm
cobertura.xml
tarpaulin-report.html
*.profraw
.tmp/

# grcov / coverage.sh
coverage/

# IDEs
.idea
*.iml

vendor.tar.gz
