[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Whisperfish
Exec=invoker --type=qtquick2 --single-instance /usr/bin/harbour-whisperfish %u
Icon=harbour-whisperfish
X-Desktop-File-Install-Version=0.20
MimeType=x-scheme-handler/signalcaptcha;
