[package]
name = "whisperfish-model-macro"
license.workspace = true
version.workspace = true
edition = "2021"

[lib]
proc-macro = true

[dependencies]
syn = { version = "2.0", features = ["full", "extra-traits"] }
proc-macro2 = "1.0"
quote = "1.0"
